<style>
  .jumbotron {
    display: block;
    margin-top: -20px;
  }
</style>

<div class="row">
  <div class="col-md-6 callout">
    <h2><i class="fa fa-gears" style="font-size: larger"></i> Intelligent workflow</h2>
    <p class="lead">Transform your processes into workflows on the Arcflow platform. Whether it’s managing master data in SAP, requesting purchase approval with digital sign-offs or recording employee training. These workflows will intelligently guide participants in every step.</p>

    <a class="btn btn-default btn-lg" href='/features.html' role="button">Learn more &raquo;</a>
  </div>

  <div class="col-md-6 callout">
    <h2><i class="fa fa-cloud" style="font-size: larger"></i> Zero setup</h2>
    <p class="lead">We are in the cloud! That means we can get you up and running right away. Forget long sales cycles and paying up-front for IT development. Simply describe your processes to us and we will set it up for you and your team to try. No commitment required.</p>
    <a class="btn btn-default btn-lg" href='/how-we-work.html' role="button">Learn more &raquo;</a>

 </div>
</div>
