@media (min-width: 768px) {
  p {
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: 200;
    line-height: 1.4;
  }
}

textarea.form-control {
	height: 200px;
}

.jumbotron {
  background-color: #282828;
  color: #eee;
  display: none;
}

.navbar {
  font-size: 17px;
}

.navbar a.navbar-brand,
.navbar a.navbar-brand:hover,
.navbar a.navbar-brand:active,
.navbar a.navbar-brand:visited {
  font-size: 27px;
  color: #3071a9;
  font-weight: bold;
}

.btn.btn-default {
  border: none;
  background: #dfdfdf; color: black; 
}

.navbar .navbar-brand .contrast {
  margin-left: 1px;
  color: #777;
}

.contact-email {
  font-weight: bold;
}

.footer {
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 410px;	
    text-align: center;
}

.footer p {
  padding-top: 70px;
}
